@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: '3270';
    src: url('/fonts/3270/3270-Regular.ttf');
}

* {
    font-family: '3270', monospace;
    @apply ring-offset-0 ring-0;
    user-select: none;
}

html,
body {
    @apply font-mono;
}

button,
.button {
    @apply border-2 border-cyan-500 text-cyan-500 rounded px-3 py-1;
}

button:hover,
.button:hover {
    @apply bg-white;
}

button[disabled],
.button[disabled] {
    @apply grayscale;
}

input {
    @apply text-amber-500 border-amber-500 bg-transparent ring-0 outline-0 border-amber-500 border-2;
}

table td,
table th {
    @apply border px-2 py-1;
}
